<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.desperu.moodtracker">

    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/smiley_super_happy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smiley_super_happy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MoodHistoryActivity"
            android:label="@string/title_activity_history"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SEND" />
                <action android:name="android.intent.action.ACTION_SENDTO" />
                <action android:name="android.intent.action.ACTION_SEND_MULTIPLE" />
                <action android:name="android.intent.action.ACTION_VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>